*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}
nav{
    width: 90%;
    position: relative;
    margin: -150px 80px;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 150px;
    margin: 20px 20px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: xx-large;
}

.search-bar{
    margin: auto;
    margin-top: 20%;
    position: relative;
    width: 300px;
    height: 42px;
    border: 4px solid #9c27b0;
    padding: 0px 10px;
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    background: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 500;
}
::placeholder{
    color: black;
}
.search:focus{
    outline: none;
}
.fas fa-search{
    font-size: 26;
}